
.container{
   margin:0 auto; 
   max-width:1234px;
   padding: 0 20px;
}
.visually-hidden {
   opacity: 0;
   visibility: hidden;
   width: 0;
   height: 0;
   display: block;
   color: transparent;
   margin-left: -10000px;
   background: transparent;
   font-size: 0;
}
.no-scroll{
   overflow: hidden;
}
@media(max-width:768px){
   .container{
      max-width:768px;
      padding: 0 54px;
   }
}
@media(max-width:440px){
   .container{
      max-width:400px;
      padding: 0 20px;
   }
}
@media(max-width:340px){
   .container{
      max-width:340px;
      padding: 0 20px;
   }
}