.advantages-grid{
	padding-top: 56px;
   display:grid;
   grid-template-columns: repeat(auto-fit,minmax(30%, 1fr));
   grid-template-rows: 1fr;
   justify-content: space-between;
	column-gap: 10px;
	row-gap: 20px;
}


