.news-grid-box{
   display:grid;
   row-gap:40px;
// grid-template-rows: 1fr 499px 1fr ;
align-items:center;
justify-content: center;
}
.news-item1{
     display:grid;
     grid-template-columns: repeat(2, 544px);
     column-gap: 23px;
     justify-content: center;
}

.item2{
  width:100%;
}
.new-item-text{
   margin-top:40px;
}
.new-item-title{
   font-size: 26px;
   text-align: left;
   margin-bottom:7px;
}
.new-item-time{
   color:#7C7C7C;
   font-size:18px;
   text-align: left;
   margin-bottom:13px;
}
.new-item-description, .morecontent span
  {
   font-size:18px;
}
