.news-item3{
   display:grid;
   grid-template-columns: repeat(auto-fit, minmax(351px, 1fr));
  column-gap:32px;
  min-height: 100%;
}

.new-item3-img{
   width:352px;
  
   img{
      width: 100%;
      object-fit: cover;
      object-position: center;
      width:100%;
   }
}
.news-item3{
   display:grid;
   grid-template-columns:repeat(3,32%);
   column-gap:24px;
   // background-color: #3A2688
}

.new-item3-text{
   display: flex;
   align-items:stretch;
   flex-direction: column;
   & .new-item-title{
      margin-top:48px;
      margin-bottom:16px;
   }
   & .new-item-time{
   }
   &.new-item-description{
   }
  
}
 
