.item2-wrapper {
	position: relative;
}
.item2__text {
	position: absolute;
	top: 170px;
	right: 0;
	max-width: 544px;
}
.news-text__title {
	font-size: 38px;
	margin-bottom: 26px;
	line-height: 1.3em;
}
.news-text__subtitle {
	font-size: 20px;
}
