.reviews{
	padding-bottom: 60px;}
.reviews-top{
	display: grid;
	grid-template-columns:3fr 1fr;
	margin-bottom: 35px;
}
.reviews-sentBtn{
	p{
		display: block;
		color:white;
		font-weight: 500;
		font-size: 18px;
		width:100%;
		height: 100%;
	}
	display: flex;
	justify-content: center;
	align-items: center;
	width: 212px;
	height: 53px;
	border-radius: 8px;
background-color: $boton-color;
}
#element_popup-reviews { 
	display:none; 
	background-color: #fff;
	width: 460px;
	height: 395px;
	color:$base-color;
	padding: 20px 37px 20px 37px;
	border-radius: 5px;
	box-shadow: 4px 4px 9px 3px #9E9E9E;
}
.popup-review__title{
	text-align: center;
	font-size: 19px;
}

.popup-review__form{
	& button {
		margin:18px auto;
		// margin-top: 18px;
	
	}
}
.popup-review__title{
	margin-bottom:35px;
}
.review_textarea{
	height: 160px;
	width: 100%;
	resize:none;
	margin-bottom: 20px;
	padding: 10px;
}
.review__button{}