.worker-card {
   display: inline-block;
border-radius: 5px;
overflow: hidden;
background-color: $color-workers-cards;
width:352px;
height: 200px;
border-radius: 8px;
position: relative;
}
.worker-card__item {

}
.worker__img-block {
}
.worker-img {
   width:140px;
   height:200px;
// height:100%;
//   width:100%;
   // overflow: hidden;
   position: relative;
  	img{
   display: block;
   width:140px;
   height:100%;
   object-fit: cover;
   position: absolute;
  	bottom:0;
  	top:0;
  	left:0;
  	object-position: revert-layer;
  }
}
.worker-description {
   max-width:179px;
   position: absolute;
   left:45%;
   top:17px;
   display:grid; 
   grid-template-rows: 60px 1fr 2fr;


}
.worker-title {
   font-size:25px ;

   &-center{
      align-self: center;
   }
}
.worker-name {
   // margin-bottom:25px;
}
.worker-exp {
   align-self: last baseline;
   font-size: 14px;
   margin-left:44px;
}