.workers{
   padding-top:80px;
   padding-bottom:80px;
	
	
}
.workers-title{
	margin-bottom:58px;
	& .title-subtext {
		
		margin-top: 20px;
		max-width:526px;
	}
}


.workers-cards{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
   grid-template-rows: auto;
   column-gap: 13px;
   row-gap: 26px;
   justify-content: center;

}