// @font-face {
//    font-family: 'Forum';
//    src: url('Forum.eot');
//    src: local('../.././fonts/font/Forum'),
//        url('Forum.eot?#iefix') format('embedded-opentype'),
//        url('Forum.woff2') format('woff2'),
//        url('Forum.woff') format('woff'),
//        url('Forum.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
// }
body,
html {
   font-family: 'Forum', sans-serif;
   font-size: 16px;
   color: $base-color;
	line-height: 1.5em;
}

.container {
   max-width: 1160px;
   margin-left: auto;
   margin-right: auto;
   padding: 0 15px;

   &--fluid {
      //сбрасываем ширину для max-width
      max-width: unset;
      width: 100%;
      padding: 0;
   }
}

.visually-hidden {
   opacity: 0;
   visibility: hidden;
   width: 0;
   height: 0;
   display: block;
   color: transparent;
   margin-left: -10000px;
   background: transparent;
   font-size: 0;
}


.title{
   // font-family: 'Forum', sans-serif;
   font-size: 40px;
   color:#000000;
}
