//акцентный цвет
$boton-color:#38BCEA;
//акцентный цвет переход
$accent-link-hover:#01678A;
//основной шрифт
$base-color:#474747;;
$background-news-color: #9BBED2;
$background-contact-color:#F6F6F6;
$color-workers-cards:#F3F4F7;
$color-news-bcg:#C8EBFF;
$title-color: #12354B;
$title-subtext-color:#737373;
$accent-text-color: #12354B;
$popup-text-color:rgb(69, 76, 81);
$signup-elem:#A2C2CF;
