body {
  background-color: white; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px; }

h1,
h1,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  margin-bottom: 0;
  font: inherit; }

input,
button, select {
  border: none;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent; }

button,
input[type="submit"] {
  cursor: pointer;
  background-color: none; }

input:focus,
button:focus {
  outline: none; }

ul,
li {
  list-style: none; }

ul, ol {
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  color: inherit; }

img {
  display: block; }

body,
html {
  font-family: 'Forum', sans-serif;
  font-size: 16px;
  color: #474747;
  line-height: 1.5em; }

.container {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px; }
  .container--fluid {
    max-width: unset;
    width: 100%;
    padding: 0; }

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  display: block;
  color: transparent;
  margin-left: -10000px;
  background: transparent;
  font-size: 0; }

.title {
  font-size: 40px;
  color: #000000; }

.header-wrapper {
  padding-top: 10px;
  padding-bottom: 15px; }

.header-items {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.menu-header {
  align-self: center; }

.header-item {
  flex-grow: 0;
  flex-shrink: 1; }

.header-item-center {
  align-self: center; }

.logo {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .logo p {
    font-weight: 300;
    font-size: 22px;
    color: #000000; }
  .logo-big {
    font-size: 40px; }

.loc {
  grid-area: loc; }

.ph {
  grid-area: ph; }

.cl {
  grid-area: cl; }

.contact-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(40px, auto);
  grid-template-areas: "loc cl" "ph .";
  row-gap: 6px;
  column-gap: 24px; }

.contact-item {
  display: flex;
  font-weight: 300; }
  .contact-item p {
    text-align: left; }

.contact-item__img {
  width: 20px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px; }
  .contact-item__img img {
    width: 18px; }

.contact-item__text {
  line-height: 1.3em; }

.calendar-items {
  display: grid;
  grid-template-columns: 24px auto;
  column-gap: 6px; }

.calendar-img_item {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3; }

.calendar-item1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2; }

.calendar-item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3; }

.calendar-item3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4; }

.btn-wrapper {
  --height:60px;
  --width:296px;
  --size-left: 24px;
  height: var(--height);
  width: var(--width);
  background-color: #38BCEA;
  transition: 200ms background-color ease-out; }

.btn-wrapper:hover {
  background: rgba(56, 188, 234, 0.5); }

.btn {
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  width: 100%;
  height: 100%;
  transition: 300ms all ease-out; }

.btn:hover {
  color: #08151d; }

.morecontent span {
  display: none; }

.morelink {
  display: flex;
  justify-content: center;
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #CCEEFE; }

.btn-popup {
  width: 157px;
  height: 44px;
  background-color: #38BCEA;
  border-radius: 10px; }
  .btn-popup p {
    color: #FFFFFF; }

.btn-review {
  background-color: #38BCEA;
  width: 190px;
  height: 52px;
  border-radius: 7px;
  text-align: center;
  color: #fff;
  transition: 0.3s all ease-in;
  display: block; }

.btn-review:hover {
  opacity: 0.5; }

.menu-items {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center; }

.menu-lists {
  display: flex; }
  .menu-lists li + li {
    margin-left: 35px; }
  .menu-lists a {
    color: #474747;
    font-weight: 400;
    transition: all 0.2s ease-out; }
  .menu-lists a:hover {
    color: #01678A; }

.home {
  position: relative;
  min-height: 628px;
  background-attachment: fixed;
  background-size: cover; }

.home-bg-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  background-color: rgba(255, 231, 189, 0.5); }
  .home-bg-img img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }

.text__before {
  display: inline;
  position: relative;
  left: 20px; }
  .text__before:after {
    content: '';
    position: absolute;
    top: 12px;
    left: -15px;
    display: inline-block;
    height: 1px;
    width: 13px;
    background: #01678A; }

.home-text {
  padding-top: 149px;
  max-width: 448px;
  text-align: left; }
  .home-text .home-title {
    margin-top: 20px;
    color: #1A3444;
    margin-bottom: 25px;
    font-size: 48px;
    font-weight: 600; }
  .home-text .home-subtitle {
    margin-bottom: 30px;
    font-size: 23px; }

.title__img {
  float: left;
  margin-right: 16px; }

.title-text {
  color: #12354B;
  font-size: 48px;
  font-weight: 400; }

.title-subtext {
  color: #737373;
  font-size: 24px;
  margin-bottom: 15px;
  display: inline-block; }

.home-bottom__wrapper {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%; }

.home-bottom__items {
  width: 100%;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  grid-template-rows: 86px;
  column-gap: 10px;
  margin: auto 0;
  padding: 0;
  justify-content: center;
  position: absolute;
  top: 130px; }

.home-bottom__item {
  background: linear-gradient(rgba(112, 230, 246, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(49, 166, 216, 0.18);
  box-shadow: 0 8px 32px 0px rgba(135, 172, 211, 0.582); }

.home-bottom__box {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px; }

.bottom-box__img {
  margin-right: 15px; }

.bottom-box__text {
  font-size: 18px;
  color: #4B4B4B;
  max-width: 290px; }

.workers {
  padding-top: 80px;
  padding-bottom: 80px; }

.workers-title {
  margin-bottom: 58px; }
  .workers-title .title-subtext {
    margin-top: 20px;
    max-width: 526px; }

.workers-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
  column-gap: 13px;
  row-gap: 26px;
  justify-content: center; }

.worker-card {
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  background-color: #F3F4F7;
  width: 352px;
  height: 200px;
  border-radius: 8px;
  position: relative; }

.worker-img {
  width: 140px;
  height: 200px;
  position: relative; }
  .worker-img img {
    display: block;
    width: 140px;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    object-position: revert-layer; }

.worker-description {
  max-width: 179px;
  position: absolute;
  left: 45%;
  top: 17px;
  display: grid;
  grid-template-rows: 60px 1fr 2fr; }

.worker-title {
  font-size: 25px; }
  .worker-title-center {
    align-self: center; }

.worker-exp {
  align-self: last baseline;
  font-size: 14px;
  margin-left: 44px; }

.news {
  padding-bottom: 70px; }

.news-title {
  margin-bottom: 44px; }

.news-grid-box {
  display: grid;
  row-gap: 40px;
  align-items: center;
  justify-content: center; }

.news-item1 {
  display: grid;
  grid-template-columns: repeat(2, 544px);
  column-gap: 23px;
  justify-content: center; }

.item2 {
  width: 100%; }

.new-item-text {
  margin-top: 40px; }

.new-item-title {
  font-size: 26px;
  text-align: left;
  margin-bottom: 7px; }

.new-item-time {
  color: #7C7C7C;
  font-size: 18px;
  text-align: left;
  margin-bottom: 13px; }

.new-item-description, .morecontent span {
  font-size: 18px; }

.item2-wrapper {
  position: relative; }

.item2__text {
  position: absolute;
  top: 170px;
  right: 0;
  max-width: 544px; }

.news-text__title {
  font-size: 38px;
  margin-bottom: 26px;
  line-height: 1.3em; }

.news-text__subtitle {
  font-size: 20px; }

.news-item3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(351px, 1fr));
  column-gap: 32px;
  min-height: 100%; }

.new-item3-img {
  width: 352px; }
  .new-item3-img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%; }

.news-item3 {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  column-gap: 24px; }

.new-item3-text {
  display: flex;
  align-items: stretch;
  flex-direction: column; }
  .new-item3-text .new-item-title {
    margin-top: 48px;
    margin-bottom: 16px; }

.advantages {
  margin-bottom: 60px;
  padding-top: 40px;
  padding-bottom: 48px;
  background-color: #cceefe; }

.advantages-grid {
  padding-top: 56px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-template-rows: 1fr;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 20px; }

.advantages-item {
  display: flex;
  align-items: center;
  column-gap: 18px;
  flex-direction: column; }
  .advantages-item justify-content
  img {
    width: 40px;
    height: 40px; }
  .advantages-item .advantages-item__text {
    display: inline-block;
    max-width: 300px;
    font-size: 18px;
    text-align: center;
    color: #12354B; }

.photo-perebivka {
  position: relative; }

.perebivka-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 231, 189, 0); }
  .perebivka-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }

.reviews {
  padding-bottom: 60px; }

.reviews-top {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 35px; }

.reviews-sentBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 212px;
  height: 53px;
  border-radius: 8px;
  background-color: #38BCEA; }
  .reviews-sentBtn p {
    display: block;
    color: white;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    height: 100%; }

.reviews-wrapper {
  width: 980px;
  margin: 0 auto; }

.slider-container {
  overflow: hidden; }

.slider-track {
  display: flex;
  transition: .3s; }
  .slider-track > div + div {
    margin-left: 10px; }

.slider-item {
  height: 200px;
  border: 1px solid #01678A;
  border-radius: 8px; }

.slider-item__wrapper {
  padding: 12px 16px;
  max-width: 100%;
  height: 100%; }

.slider-item__name {
  margin-bottom: 5px; }
  .slider-item__name p {
    text-align: center;
    color: #12354B;
    font-weight: 600;
    font-size: 18px; }

.slider-item__feedback {
  color: #FFC11E; }

.slider-item__date {
  text-align: right;
  margin-bottom: 8px;
  font-weight: 500; }

.slider-item__text {
  text-align: justify-all;
  line-height: 1.2em; }

.slider-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  column-gap: 120px; }

.btn-prev, .btn-next {
  position: relative;
  top: 20px; }

.btn-prev:after {
  content: '';
  position: absolute;
  left: 0;
  width: 60px;
  height: 3px;
  background-color: #38BCEA; }

.btn-next:after {
  content: '';
  position: absolute;
  right: 0px;
  width: 60px;
  height: 3px;
  background-color: #38BCEA; }

body.lock {
  overflow: hidden; }

.popup {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s; }

.popup.open {
  opacity: 1;
  visibility: visible; }

.popup.open .popup__content {
  transform: translate(0px, 0px);
  opacity: 1; }

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px; }

.popup__content {
  background-color: #fff;
  color: #000;
  padding: 42px 86px;
  position: relative;
  opacity: 0;
  transition: all 0.8s ease 0s;
  transform: translate(0px, -100%); }

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none; }

.popup__title {
  color: #666666;
  font-size: 18px;
  margin: 0px 0px 1em 0; }

.review-error {
  text-align: center;
  padding-top: 56px; }

.popup__box {
  margin-top: 50px; }
  .popup__box div + div {
    margin-top: 22px; }

.popup__form {
  padding-bottom: 40px; }

.popup__form-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center; }
  .popup__form-item label {
    display: block;
    color: #454c51;
    font-size: 16px;
    max-width: 200px;
    line-height: 1em;
    font-weight: 300; }
  .popup__form-item input, .popup__form-item select {
    display: block;
    width: 280px;
    height: 33px;
    background-color: rgba(188, 217, 227, 0.5);
    border-radius: 10px;
    padding-left: 15px;
    margin-left: auto; }

.popup-subtext__content:before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(188, 217, 227, 0.5);
  position: absolute;
  top: -11px;
  left: 0; }

.popup-subtext__content {
  position: relative;
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .popup-subtext__content > p {
    max-width: 288px;
    color: #666666;
    font-size: 14px;
    line-height: 1.1em; }

.popup-close__btn {
  width: 30px; }

.login-box {
  position: relative;
  margin: 15px auto;
  width: 500px;
  height: 300px;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 4px 5px 5px 1px rgba(39, 110, 110, 0.2); }

.big-height {
  height: 526px; }

.lb-header {
  position: relative;
  color: #00415d;
  margin: 5px 5px 10px 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
  height: 28px; }

.lb-header a {
  margin: 0 25px;
  padding: 0 20px;
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear; }

.lb-header .active {
  color: #A2C2CF;
  font-size: 18px; }

.social-login {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #eee; }

.social-login a {
  position: relative;
  float: left;
  width: calc(40% - 8px);
  text-decoration: none;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 12px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 3%;
  text-align: center; }

.social-login a i {
  position: relative;
  float: left;
  width: 20px;
  top: 2px; }

.social-login a:first-child {
  background-color: #49639F; }

.social-login a:last-child {
  background-color: #DF4A32; }

.email-login, .email-signup {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin-top: 20px;
  text-align: center; }

.registration-form {
  height: 900px; }

.u-form-group {
  width: 100%;
  margin-bottom: 10px; }

.u-form-group input {
  width: calc(50% - 22px);
  height: 45px;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 2px;
  color: #333;
  font-size: 0.8rem;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear; }

.u-form-group input:focus {
  border-color: #358efb; }

.u-form-group button {
  width: 50%;
  background-color: #A2C2CF;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 14px 0;
  border-radius: 2px;
  text-transform: uppercase; }

.forgot-password {
  width: 50%;
  text-align: left;
  text-decoration: underline;
  color: #888;
  font-size: 0.75rem; }

.signup__wrapper {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.signup-hello {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .signup-hello form {
    margin-top: 20px; }

.header--login {
  position: relative; }

.header-line:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #A2C2CF; }

.signuparror {
  text-align: center;
  font-weight: 600;
  color: #283469;
  font-size: 17px; }

#element_popup-reviews {
  display: none;
  background-color: #fff;
  width: 460px;
  height: 395px;
  color: #474747;
  padding: 20px 37px 20px 37px;
  border-radius: 5px;
  box-shadow: 4px 4px 9px 3px #9E9E9E; }

.popup-review__title {
  text-align: center;
  font-size: 19px; }

.popup-review__form button {
  margin: 18px auto; }

.popup-review__title {
  margin-bottom: 35px; }

.review_textarea {
  height: 160px;
  width: 100%;
  resize: none;
  margin-bottom: 20px;
  padding: 10px; }

.footer {
  padding: 46px 15px;
  position: relative; }

.footer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(56, 187, 233, 0.6); }

.footer__box {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 50px; }

.footer-box__item--links {
  display: flex;
  align-items: center;
  justify-content: center; }

.footer-box__item p {
  max-width: 465px;
  text-align: center; }

.footer-box__link {
  display: block; }
  .footer-box__link + .footer-box__link {
    margin-left: 30px; }
  .footer-box__link img {
    width: 35px;
    height: 35px; }

.price-title {
  text-align: center;
  margin-top: 25px; }

.price-item__title {
  text-align: center;
  position: relative; }
  .price-item__title p {
    font-size: 25px;
    line-height: 95.5%; }
  .price-item__title img {
    width: 20px;
    height: 35px; }

.price-items {
  margin-top: 46px; }

.price-item__title:after, .price-item__title:before {
  content: '';
  position: absolute;
  display: block;
  bottom: -12px;
  right: 0;
  height: 1px;
  background-color: #A2C2CF;
  width: 100%; }

.price-item__title:after {
  bottom: -12px;
  right: 0; }

.price-item__title:before {
  top: -12px;
  right: 0; }

.price-service {
  margin-top: 25px;
  padding-bottom: 42px; }

.price-item__title-img {
  position: relative;
  display: block;
  margin: 0 auto; }

.price-item__title-img:after {
  content: "";
  margin: 0 auto;
  position: absolute;
  display: inline-block;
  top: -10px;
  right: -40px;
  height: 6px;
  background-color: red;
  width: 40%; }

.price-service {
  display: flex;
  flex-direction: column;
  row-gap: 15px; }

.price-service__item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center; }

.service-form {
  display: flex;
  column-gap: 25px;
  justify-content: center;
  margin: 0 auto; }

.service-title {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 15px; }

/*# sourceMappingURL=main.css.map */
